<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/error1.css') }}">
    <script src="{{ url_for('static', filename='script/script.js') }}"></script>
    <title>Error page</title>
</head>
<body>
    
    <div class="outer">
        <h1>Data already exist</h1>
        <div class="button"><a  class="link" href="/">Login</a></div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
        
    </div>
</body>
</html>