<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles1.css') }}">
    <script src="{{ url_for('static', filename='script/script.js') }}"></script>

    <title>login page</title>
</head>

<body>
    <div class="outer">
        <h2 class="heading">Login Form</h2>
    
        <form action="/check_data" method="post">
      
          <div class="container">
            <label for="uname" class="textbox"><b>Username</b></label>
            <input  type="text" placeholder="Enter Username" name="uname" required>
        
            <label for="psw" class="textbox"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
            

            <button type="submit" class="submit_button">Login</button>
            <label>
              <input type="checkbox" name="remember"> Remember me
            </label>
          </div>
      
          <div class="container" style="background-color:#f1f1f1">
            <span class="psw">Forgot <a href="#" style="color: red;">password?</a></span>
            
          </div>
        </form>
    </div>
</body>
</html>